<!-- Excerpts -->
    <section>
        <ul class="divided">
            {% for post in site.posts %}
            <li>
                <!-- Excerpt -->
                    <article class="box excerpt">
                        <header>
                            <span class="date">{{ post.date | date: "%b %-d %y" }}</span>
                            <h3><a href="#">{{ post.url | prepend: site.baseurl }}</a></h3>
                        </header>
                        <p>{{ post.excerpt }}</p>
                    </article>
            </li>
            {% endfor %}
        </ul>
    </section>
