<!-- Features -->
<div id="features-wrapper">
    <section id="features" class="container">
        <header>
            <h2>What's going on at <strong>Melting House</strong>?</h2>
        </header>
        <div class="row">
            <div class="4u 12u(mobile)">

                <!-- Feature -->
                    <section>
                        <a href="https://www.etsy.com/shop/MeltingHouse" class="image featured"><img src="images/puddings.jpeg" alt="Shop now for Christmas, there's still time" /></a>
                        <header>
                            <h3>Still time to order in time for Christmas</h3>
                        </header>
                        <p>We have a great selection of Christmas Chocolate at our <a href="http://www.etsy.com/shop/meltinghouse">Etsy shop</a>
                         take a look. 
                        </p>
                    </section>

            </div>
            <div class="4u 12u(mobile)">

                <!-- Feature -->
                    <section>
                        <a href="https://www.etsy.com/shop/MeltingHouse" class="image featured"><img src="images/sprouts_image.jpg" alt="Christmas Chocolate Sprouts" /></a>
                        <header>
                            <h3>Christmas range now available</h3>
                        </header>
                        <p>Our <a href="https://www.etsy.com/uk/shop/MeltingHouse">Etsy shop</a> now includes our Christmas range of chocolate treats,
                            and there's more to come. Keep checking to see what festive
                            delights we have for you!</p>
                    </section>

            </div>
            <div class="4u 12u(mobile)">

                <!-- Feature -->
                    <section>
                        <a href="https://www.etsy.com/shop/MeltingHouse" class="image featured"><img src="images/happy-birthday-chocs.jpg" alt="Personalised Gifts" /></a>
                        <header>
                            <h3>Personalised Gifts for all occasions</h3>
                        </header>
                        <p>We offer a full range of personalised gifts for that special someone. If
                            you have an idea - we can create it in chocolate, just ask.</p>
                    </section>

            </div>
        </div>
        <ul class="actions">
            <li><a href="/contact/" class="button icon fa-file">Get in touch</a></li>
        </ul>
    </section>
</div>
