<!-- Features -->
<div id="features-wrapper">
    <section id="features" class="container">
        <header>
            <h2>What's going on at <strong>Melting House</strong>?</h2>
        </header>
        <div class="row">
            <div class="4u 12u(mobile)">

                <!-- Feature -->
                    <section>
                        <a href="#" class="image featured"><img src="images/essybella-chocolate.jpg" alt="Essy&amp;Bella Chocolate" /></a>
                        <header>
                            <h3>10% off in October</h3>
                        </header>
                        <p>Fancy 10% off your chocolate order? Of course you do! 
                            Just use the code HOORAY10 in our <a href="http://www.etsy.com/shop/meltinghouse">Etsy shop</a> 
                            (valid until until 31st October)</p>
                    </section>

            </div>
            <div class="4u 12u(mobile)">

                <!-- Feature -->
                    <section>
                        <a href="#" class="image featured"><img src="images/essybella-chocolate.jpg" alt="Essy&amp;Bella Chocolate" /></a>
                        <header>
                            <h3>Christmas range now available</h3>
                        </header>
                        <p>Our Etsy shop now includes our Christmas range of chocolate treats
                        and there are new products becoming avilable all the time. Keep 
                        checking to see what festive delights we have for you!</p>
                    </section>

            </div>
            <div class="4u 12u(mobile)">

                <!-- Feature -->
                    <section>
                        <a href="#" class="image featured"><img src="images/happy-birthday-chocs.jpg" alt="Personalised Gifts" /></a>
                        <header>
                            <h3>Personalised Gifts for all occasions</h3>
                        </header>
                        <p>We offer a full range of personalised gifts for that special someone. If
                            you have an idea - we can create it in chocolate, just ask.</p>
                    </section>

            </div>
        </div>
        <ul class="actions">
            <li><a href="/contact/" class="button icon fa-file">Get in touch</a></li>
        </ul>
    </section>
</div>
