<!-- Footer -->
<div id="footer-wrapper">
    <div id="footer" class="container">
        <header>
            <h2>Questions or comments? <strong>Get in touch:</strong></h2>
        </header>
        <div class="row">
            <div class="6u 12u(mobile)">
                <section>
                    <a name="form" />
                    <form id="contact-form" method="post" action="https://formkeep.com/f/9e74ddbdcb59">
                        <div class="row 50%">
                            <div class="6u 12u(mobile)">
                                <input name="name" placeholder="Name" type="text" />
                            </div>
                            <div class="6u 12u(mobile)">
                                <input name="email" placeholder="Email" type="text" />
                            </div>
                        </div>
                        <div class="row 50%">
                            <div class="12u">
                                <textarea name="text" placeholder="Your message"></textarea>
                            </div>
                        </div>
                        <div class="row 50%">
                            <div class="12u">
                                <a href="#form" class="form-button-submit button icon fa-envelope" onclick="document.getElementById('contact-form').submit();">Send Message</a>
                            </div>
                        </div>
                        <input type="hidden" name="utf8" value="✓">
                    </form>
                </section>
            </div>
            <div class="6u 12u(mobile)">
                <section>
                    <p>If you have a question or a message, just drop us a line! We'll be back in 
                       touch as soon as possible.
                        </p>
                    <div class="row">
                        <!--<div class="6u 12u(mobile)">
                            <ul class="icons">
                                <li class="icon fa-home">
                                    116a Huddersfield Road<br />
                                    Mirfield, WF14 8AB<br />
                                    West Yorkshire, UK
                                </li>
                                <li class="icon fa-phone">
                                    01924 0000000
                                </li>-->
                               
                            </ul>
                        </div>
                <li class="icon fa-envelope">
                                    <a href="mailto:{{ site.email }}">{{ site.email }}</a>
                                </li>
                        <div class="6u 12u(mobile)">
                            <ul class="icons">
                                <li class="icon fa-twitter">
                                    <a href="http://twitter.com/{{ site.twitter_username }}">@{{ site.twitter_username }}</a>
                                </li>
                                <li class="icon fa-instagram">
                                    <a href="http://instagram.com/{{ site.instagram_username }}">{{ site.instagram_username }}</a>
                                </li>
                                <li class="icon fa-facebook">
                                    <a href="http://www.facebook.com/{{ site.facebook_page }}">{{ site.facebook_page }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div id="copyright" class="container">
        <ul class="links">
            <li> &copy; Melting House.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </div>
</div>
