---
layout: default
---
<div class="row">
    <!-- Content -->
    <div id="content" class="8u 12u(mobile)">
        <!-- Post -->
            <article class="box post">
                <header>
                    <h2>{{ page.title }}</h2>
                </header>
                {{ content }}
            </article>
    </div>

    <!-- Sidebar -->
        <div id="sidebar" class="4u 12u(mobile)">

            <!-- Excerpts -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Excerpt -->
                                <article class="box excerpt">
                                    <header>
                                        <span class="date">July 30</span>
                                        <h3><a href="#">Just another post</a></h3>
                                    </header>
                                    <p>Lorem ipsum dolor odio facilisis convallis. Etiam non nunc vel est
                                    suscipit convallis non id orci lorem ipsum sed magna consequat feugiat lorem dolore.</p>
                                </article>

                        </li>
                    </ul>
                </section>

            <!-- Highlights -->
                <section>
                    <ul class="divided">
                        <li>

                            {% for post in site.posts %}
                            <!-- Highlight -->
                                <article class="box highlight">
                                    <header>
                                        <h3><a href="#">{{ post.title }}</a></h3>
                                    </header>
                                    <p>{{ post.excerpt }}</p>
                                    <ul class="actions">
                                        <li><a href="{{ post.url | prepend: site.baseurl }}" class="button icon fa-file">Read More</a></li>
                                    </ul>
                                </article>
                            {% endfor %}

                        </li>
                    </ul>
                </section>
        </div>
</div>
